# Allow rild to connect to gpsd

# /efs/maxim
r_dir_file(audioserver, efs_file);
r_dir_file(audioserver, sec_efs_file);

# TFA98xx amplifier
allow audioserver amplifier_device:chr_file rw_file_perms;
